footer{
    width: 100%;
    background: linear-gradient(
        25deg,
        rgb(255, 255, 255),
        rgb(231, 230, 229)
       
      );
    color: black;   
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    
}

.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.container-body{
    display: flex;
    justify-content: space-between;
}

.colum1{
    max-width: 400px;
  
}



.colum2{
    max-width: 400px;
    
}

.colum2 h1{
    font-size: 22px;
}

.rowx{
    margin-top: 20px;
    display: flex;
}

.rowx img{
    width: 36px;
    height: 36px;
}

.rowx label{
    margin-top: 10px;
    margin-left: 20px;
   
}

.colum3{
    max-width: 400px;
}

.colum3 h1{
    font-size: 22px;
}

.row2{
    margin-top: 20px;
    display: flex;
}

.row2 img{
    width: 36px;
    height: 36px;
}

.row2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}

.container-footer{
    width: 100%;  
    background: #fcfcfc;
}

.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;  
    padding: 20px;
}



.copyright a{
    text-decoration: none;
    
    font-weight: bold;
}

.information a{
    text-decoration: none;
    
}


@media screen and (max-width: 1100px){
    
    .container-body{
        flex-wrap: wrap;
    }
    
    .colum1{
        max-width: 100%;
    }
    
    .colum2,
    .colum3{
        margin-top: 40px;
    }
}

